<h4 class="text-center">Login</h4>

<!-- 
    A diretiva formGroup do Angular espera como parâmetro um atributo do tipo FormGroup.
    Onde desta forma poderemos gerenciar agora o formulário através do componente.
-->
<form [formGroup]="loginForm" class="form mt-4" (submit)="login()">
    <div class="form-group">
        <!-- A diretiva formControlName espera uma string que é o nome do campo definido no método group do formBuilder -->
        <input
            #userNameTemplate
            formControlName="userName" 
            class="form-control"
            placeholder="user name"
            autofocus
        >
        <ap-vmessage 
            texto="O campo de user name é obrigatório!" 
            *ngIf="loginForm.get('userName').errors?.required">
        </ap-vmessage>
    </div>

    <div class="form-group">
        <!-- A diretiva formControlName espera uma string que é o nome do campo definido no método group do formBuilder -->
        <input            
            formControlName="password"
            type="password" 
            class="form-control"
            placeholder="password"            
        >        
        <ap-vmessage
            *ngIf="loginForm.get('password').errors?.required" 
            texto="O campo de password é obrigatório!">
        </ap-vmessage>  
    </div>

    <!-- utilizando o atributo disabled para desabilitar o botão, caso a propriedade invalid do atributo loginForm for verdadeiro-->
    <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Login</button>
</form>

<!-- 
    IMPORTANTÍSSIMO SABER 
    Recomendo que considere colocar toda a rota para acessar determinado página da aplicação
    ou seja, ao invés de colocar [routerLink]=['signup'], coloque o caminho completo [routerLink]=['/home/signup']
    isso vai evitar de você se esquecer e achar que está em um rota filha e considerar a rota inteira
-->
<p>Not a user? <a [routerLink]="['/home/signup']">Register now</a></p>