<header class="fixed-top">
    <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand">ALURAPIC</a>
        <!-- 
            O pipe async realiza o subscriber automático no observable
            e pega o valor emitido por ele e exibe onde precisamos
        -->
        <div *ngIf="(user$ | async) as user; else login">
            <i class="fa fa-user-circle mr-1"></i>
            <a class="mr-1">{{user.name}}</a>
            <a (click)="logout()" style="cursor: pointer;">(Logout)</a>
        </div>

        <ng-template #login>
            <span class="navbar-text">
                <!-- 
                    Diretiva routerLink para redirecionar o usuário para a rota desejaada
                    NUNCA UTILIZA O ATRIBUTO HREF PARA FAZER A NAVEGAÇÃO EM SUA SPA (Single Page Application)
                    pois quando utilizado o atributo href a aplicação toda será recarregada
                -->
               <a [routerLink]="['']">Please, login!</a>
            </span>
        </ng-template>

    </nav>
</header>